.content {
  width: 100%;
  height: fit-content;
  border: 5px solid blue;
  background-color: aqua;
}
.anh {
  width: 120px;
  height: 120px;
  border-radius: 50px;
  border: 2px solid black;
  margin-right: -50px;
}
div + img {
  margin-left: 0;
}
